:root {
    --background-color: #f0f0f0;
    --text-color: #000000;
    --button-bg-color: #007bff;

    --surface-color: #ffffff;
}

[data-theme="dark"] {
    --background-color: #121212;
    --text-color: #ffffff;
    --button-bg-color: #1e90ff;

    --surface-color: #1e1e1e;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

button {
    background-color: var(--button-bg-color);
    color: var(--text-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

$sidebarWidth: 250px;