:root {
    --background-color: #f0f0f0;
    --text-color: #212121;
    --button-bg-color: #007bff;

    --surface-color: #ffffff;
}

.dark-mode {
    --background-color: #0B0A24;
    --text-color: #F5F4FB;
    --button-bg-color: #61a1e0;

    --surface-color: #201E43;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

button {
    background-color: var(--button-bg-color);
    color: var(--text-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

$sidebarWidth: 245px;