.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;

    width: $sidebarWidth;
    height: 100vh;

    background-color: cyan;

    overflow-y: auto;
}

.sidebar ul.nav-list {
    list-style: none;
}